body { margin:0; font-family:Arial; background:#f2f2f2; }

header {
  background:black; color:white;
  display:flex; justify-content:space-between;
  padding:15px 40px; align-items:center;
}

.logo { height:40px; }

nav a { color:white; margin-left:20px; text-decoration:none; }

.hero {
  height:70vh;
  background:url("../images/car1.png") center/cover;
  color:white;
  display:flex; flex-direction:column;
  justify-content:center; align-items:center;
}

.cars, .services {
  padding:60px; background:white;
}

.car {
  display:flex; gap:20px;
  background:#fafafa; padding:20px;
  margin-bottom:20px; border-radius:8px;
}

.car img { width:220px; border-radius:8px; }

footer {
  background:black; color:white;
  text-align:center; padding:20px;
}
