body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

header {
  background: black;
  color: white;
  padding: 15px;
  font-size: 18px;
}

header button {
  float: right;
  background: white;
  border: none;
  padding: 8px 12px;
}

.container {
  padding: 20px;
}

.car {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.car input, .car textarea {
  width: 100%;
  margin-bottom: 8px;
  padding: 6px;
}
