body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

.header {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.hero {
  height: 60vh;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.content {
  padding: 40px;
  background: white;
}
